# Email for your space-track.org account
EMAIL=your_email_here
# Password for your space-track.org account
PASSWORD=your_password_here

# Email for your discosweb account
EMAIL_DW=your_email_here
# Your discosweb token
TOKEN_DW=your_password_here

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here